.timer {
    display: none;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreInput {
    display: none;
}

.response {
    font-style: italic;
}
