
.flexheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 1rem;
}

/* .viewscores {
    text-decoration: none;
} */

.timer {
    display: none;
}

.flexmain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qtext {
    display: block;
}

.scoreInput {
    display: none;
}

.highScore {
    /* display: none; */
}